.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.memory-game {
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}
.memory-card {
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
}
.memory-card.flip {
    transform: rotateY(180deg);
}
.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-size: cover;
    backface-visibility: hidden;
}
.front {
    background-color: #8A2BE2; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.back1 {
    background: url('/imagens/git_icon.png')
    transform: rotateY(180deg);

}
